.head-background
{
    -fx-background-image: url("com/esprit/pidev/tgt/views/ressources/breadcumb5.jpg");  
    -fx-background-size: 1271 312;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}